@import '../../../style/base';
@import "../../../../node_modules/bulma/sass/elements/container.sass";
.profile {
    // display: flex;
    // flex-direction: column;
    
    .back-link {
        margin: $size-6;
        @include tablet {
            margin: $size-6 0;
        }
        
    }

    .container {
        width: 100%;
        @include mobile {
            display: flex;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $size-1 0 $size-3 0;
        width: 100%;

        @include tablet {
            flex-direction: row;
            margin-top: 6rem;
        }

        .avatar {
            $avatar-size: 65px;
            $avatar-size-tablet: 98px; 
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 100px;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet {
                width: $avatar-size-tablet;
                height: $avatar-size-tablet;
            }
        }

        .initials {
            @include title();
            color: $white;
            font-size: 1.875rem;
            margin-top: -2px;
            @include tablet {
                margin-top: -6px;
                margin-right: -2px;
                font-size: 2.75rem;
            }
        }

        .name {
            @include title();
            margin-top: $size-7;
            font-size: 1.125rem;

            @include tablet {
                margin: 0 0 0 $size-7;
                font-size: 1.875rem;
            }
        }
    }


    .content {
        .icon-text-list {
            padding: 0 0.5rem;
            @include tablet {
                padding: 0;
            }
            
            .danger {
                color: red;
            }
            
            .icon-text-list__link {
                padding: 0.25rem 0;
                @include tablet {
                    padding: 0.5rem;
                }

                .icon {
                    color: $primary;
                    margin-right: $size-7;
        
                    app-icon {
                        padding: 0.5rem;
                    }
                }
            }
            
        }
        
    }

    .copyright {
        padding: 0 $size-7;
        font-size: 0.75rem;

        @include tablet {
            font-size: 1.125rem;
            padding: $size-7;
        }

        p {
            padding: $size-7;
        }
    }

}
