<div class="profile">
    <a [routerLink]="[ '/dashboard' ]" class="back-link"><img src="assets/icn-back-inverse.svg" alt="Go Back" /></a>
    <div class="header">
        <div class="avatar">
            <img *ngIf="avatar" [src]="avatar" [alt]="name" />
            <span *ngIf="!avatar" class="initials">{{initials}}</span>
        </div>
        <h3 class="name">{{fullName}}</h3>
    </div>
    <div class="content">
        <div class='list'>
            <a class='list-item' [routerLink]="[ '/settings']"><span class='icon'><i class='fas fa-home'></i></span>Settings</a>
            <a class='list-item'[routerLink]="[ '/handbook']"><span class='icon'><i class='fas fa-home'></i></span>Employee Handbook</a>
            <a class='list-item'[routerLink]="[ '/links']"><span class='icon'><i class='fas fa-home'></i></span>Useful Links</a>
            <a class='list-item'[routerLink]="[ '/help']"><span class='icon'><i class='fas fa-home'></i></span>Help</a>
            <a class='list-item' (click)="toggleModal()"><span class='icon'><i class='fas fa-home'></i></span>Logout</a>
        </div>
    </div>
</div>
<app-modal 
    [show]="showModal" 
    message="Please confirm that you'd like to log out of your account" 
    title="Are you sure?" 
    (clickOk)="onLogout()"
    (clickCancel)="toggleModal()"
    ok="Logout"
></app-modal>