.card-image-list {
    margin: 1rem;
    @include tablet {
      margin: 0 1.875rem;
    }

    .columns {
        flex-wrap: wrap;

        .column {
            .card-image {
                background: $white;
                a {
                  display: flex;
                    img {
                        background: $white;
                        min-height: 200px;
                        box-shadow: $box-shadow;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

    }  
    
}
