<div class="home-component">
    
    <div class='home-component__wrapper'>

        <div class="home-component__content">
            <div class="home-component__image image has-text-centered">
                <img src="assets/welcome.png" alt="Welcome" />
            </div>

            <h2 class="home-component__content-title has-text-centered-tablet">Welcome to Mobiquity</h2>
            <p class="home-component__content-text has-text-centered-tablet">
                We are excited to have you on board.<br/>
                Let’s help you transition smoothly to the Netherlands.
            </p>
        </div>

        <div class="home-component__actions">
            <button
                (click)="onContinue()"
                class="button is-fullwidth-mobile inverse"
            >Continue<app-icon iconsrc="next"></app-icon></button>
        </div>

    </div>

</div>