@import "~src/style/_base.scss";
@import "~src/style/complex-elements/buttons-group";

.home-component {
	display: flex;
    flex-direction: column;
	align-items: center;
	height: 100vh;
    background: $primary;
    padding: $size-6;
    position: relative;
    
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__content {
        margin: 48px auto;
        max-width: 640px;
        @include tablet {
            margin: 68px auto;
        }

        &__image {
            max-height: 220px;
            @include tablet {
                max-height: 440px;
            }

            img {
                height: 100%;
                vertical-align: bottom;
            }
        }

        &-title {
            @include title();
            color: $white;
            text-align: left;
            margin-bottom: $size-7;

            @include tablet {
                margin-bottom: $size-4;
                font-size: 1.875rem;
                line-height: 1;
            }
        }

        &-text {
            color: $white;
            font-size: 0.875rem;
            text-align: justify;
            line-height: 1.71;

            @include tablet {
                font-size: 1.25rem;
                line-height: 1.14;
            }
        }
    }

    &__actions {
        @extend %buttons-group;
    }
}


