@import "~src/style/_base.scss";

.login-component {
	
	&__header {
		margin: auto;
		width: 320px;
		@include tablet {
			width: 640px;
		}

		img {
			width: 100%;
		}
	}

	&__form {
		margin: auto;
		padding: 0rem 1rem;
		@include tablet {
			width: 288px;
		}
	}
}
