@import "~src/style/_base.scss";

.help-page {
    background-color: #29ade4;
    min-height: 100%;

    .contact {
        border: none;
        padding: $size-5 $size-6;

        .title {
            color: $white;
            font-size: 0.875rem;
            margin-bottom: 0;
            font-weight: normal;

            @include tablet {
                font-size: 1.25rem;
            }
        }
    
        .info {
            color: $white-smoke;
            font-size: 0.75rem;
            font-weight: normal;

            @include tablet {
                font-size: 1.125rem;
            }
        }

    }
}
