<div [ngClass]="{'is-active': show}" class="modal modal-component">
    <div class="modal-background">
        <div class="modal-component__content">
            <h2 class="modal-component__header">{{title}}</h2>
            <p class="modal-component__text">{{message}}</p>
            <div class="modal-component__actions">
                <button class="link" (click)="onClick(clickOk)">LOG OUT</button>
                <button class="link" (click)="onClick(clickCancel)">CANCEL</button>
            </div>
        </div>
    </div>
</div>
