@import '../../../style/base';

.modal-component {

    &.is-active {
        animation: showModal 0.3s linear both;
    }

    .modal-background {
        background-color: rgba(10, 10, 10, 0.5);
        display: flex;
        padding: 0 1rem;
    }
    
    &__content {
        max-width: 450px;
        padding: 1.5rem;
        background-color: $white;
        margin: auto;
        height: fit-content;
    }

    &__header {
        font-size: 1.125rem;
        margin-bottom: 1rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }
  
    &__text {
        letter-spacing: 0.52px;
        color: $black-smoke;
        font-size: 0.75rem;
        margin-bottom: 1.25rem;
        @include tablet {
            font-size: 1rem;
        }
    }
  
    &__actions {
      display: flex;
      justify-content: flex-end;
      button {
        margin-left: 1rem;
        padding: 0.25rem;
        @include tablet {
            font-size: 1rem;
        }
      }
    }
}

@keyframes showModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }