@import '../../../style/base';

.modal-component {
    .modal-background {
        background-color: rgba(10, 10, 10, 0.5)
    }
    &.is-active {
        animation: showModal 0.3s linear both;
    }
    &__content {
        width: 80%;
        max-width: 450px;
        background-color: $white;
    }
    &__header h2 {
      @include title();
      margin-top: 8px;
      margin-bottom: $size-6;
    }
  
    &__text {
      letter-spacing: 0.52px;
      font-size: $size-7;
      padding: 0 $size-6 $size-4 $size-4;
      margin: 0;
      color: $black-smoke;
      text-align: left;
    }
  
    &__actions {
      display: flex;
      padding: 0 $size-4;
      margin-bottom: $size-4;
      justify-content: flex-end;
      button {
        margin: 0 $size-5;
        color: $primary;
        font-size: $size-6;
        text-transform: uppercase;
      }
    }
}

@keyframes showModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }