<div class="links-page">
    <nav class="panel">
        <div class="header">
            <a [routerLink]="[ '/profile' ]" class="back-link"><app-icon [iconsrc]="icons.back" alt="Go Back"></app-icon></a>
            <span class="title">Useful Links</span>
        </div>
        <div class="panel-block">
            <a class="control" href="https://www.reddit.com/r/Amsterdam" target="_blank">
                <img src="https://mobhelpdocuments.s3.eu-central-1.amazonaws.com/img/reddit.png" alt="Reddit" />
            </a>
        </div>
        <div class="panel-block">
            <a class="control" href="https://www.iamexpat.nl/" target="_blank">
                <img src="https://mobhelpdocuments.s3.eu-central-1.amazonaws.com/img/iamexpat.png" alt="I am expat" />
            </a>
        </div>
        <div class="panel-block">
            <a class="control" href="https://www.iamsterdam.com" target="_blank">
                <img src="https://mobhelpdocuments.s3.eu-central-1.amazonaws.com/img/iamsterdam.png" alt="I Amsterdam" />
            </a>
        </div>
        <div class="panel-block">
            <a class="control" href="https://9292.nl/" target="_blank">
                <img src="https://mobhelpdocuments.s3.eu-central-1.amazonaws.com/img/9292.png" alt="9292" />
            </a>
        </div>
        <div class="panel-block">
            <a class="control" href="https://www.buienradar.nl" target="_blank">
                <img src="https://mobhelpdocuments.s3.eu-central-1.amazonaws.com/img/buienradar.png" alt="Buienradar" />
            </a>
        </div>
    </nav>
</div>