<div class="links-page">
    <nav class="panel">
        <div class="header">
            <a [routerLink]="[ '/profile' ]" class="back-link"><app-icon [iconSrc]="icons.back" alt="Go Back"></app-icon></a>
            <span class="title">Useful Links</span>
        </div>
        <div class="panel-block">
            <a class="control">
                <img src="https://picsum.photos/id/235/288/160" alt="Funda" />
            </a>
        </div>
        <div class="panel-block">
            <a class="control">
                <img src="https://picsum.photos/id/235/288/160" alt="Funda" />
            </a>
        </div>
        <div class="panel-block">
            <a class="control">
                <img src="https://picsum.photos/id/235/288/160" alt="Funda" />
            </a>
        </div>
    </nav>
</div>