// Set your brand colors
$primary: rgb(41, 173, 228);
$secondary: rgb(255, 160, 5);
$terciary: rgb(255, 255, 255);
$white: rgb(255, 255, 255);
$white-smoke: rgba(255, 255, 255, .6);
$black-smoke: rgba(0, 0, 0, .6);
$brownish-grey: rgb(116, 116, 116);
$danger: $secondary;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: lightgray;
$input-shadow: none;

//TABS
$tabs-border-bottom-color: transparent !default;
$tabs-border-bottom-width: 2px !default;
$tabs-link-color: $white-smoke !default;
$tabs-link-active-border-bottom-color: $white !default;
$tabs-link-active-color: $white !default;

//LIST
$list-shadow: none !default;
$list-item-border: none !default;
$list-item-active-background-color: $black !default;
$list-item-active-color: $black !default;
$list-item-hover-background-color: transparent !default;

$border-radius: 2px;
$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
