<div class="page-viewer">
    <div class="panel" *ngIf="pageInfo">
        <div class="header">
            <div class="container top">
                <a [routerLink]="[ '/dashboard' ]"  class="back-link">
                    <app-icon [iconsrc]="icons.back" alt="Go Back"></app-icon>
                </a>
                <a *ngIf="!pageInfo.isDone" class="mark-done" (click)="onMarkDone()">
                    Mark as Done
                </a>
                <a *ngIf="pageInfo.isDone" class="mark-done" (click)="onUnmark()">
                    Unmark as Done
                </a>
            </div>
            
            <div class="container">
                <div class="title">{{pageInfo.label}}</div>
            </div>
        </div>
        <div class="tabs">
            <div class="container">
                <ul>
                    <li *ngFor="let tab of pageInfo.tabs" [ngClass]="{'is-active': tab.label === active}"><a (click)="showContent(tab)">{{tab.label}}</a></li>
                </ul>
            </div>
        </div>
        <div class="tabs-content">
            <ng-container  *ngFor="let tab of pageInfo.tabs">
                <div class='container'>
                    <dynamic-html *ngIf="active === tab.label" [content]="tab.template"></dynamic-html>
                </div>
            </ng-container>
        </div>
    </div>
</div>
