<div class="wizard-page">
    <div class="container">

        <div class="back-title-header">
            <div class="title">Please select which options apply to you</div>
            <div class="subtitle">You can change these later</div>
        </div>
        <div class="content">
            <div class='option-wrapper' *ngFor="let topic of (topics | filter: searcher : 'title'); index as i">
                <label class="option">
                    <input
                        id="switchRoundedDefault{{i}}"
                        type="checkbox"
                        name="switchRoundedDefault{{i}}"
                        class="switch is-rounded is-rtl"
                        [checked]="topic.active"
                        (change)="changeSettings($event, topic)"
                    >
                    <div class="label" (click)="changeSettings($event, topic)">
                        <label for="switchRoundedDefault{{i}}">{{topic.title}}</label>
                        <div class='description'>{{topic.description}}</div>
                    </div>
                </label>
            </div>
            <div class="wizard-page__actions">
                <button
                    class="inverse"
                    (click)="saveSettings()"
                >Save</button>
            </div>
        </div>
    </div>
</div>
