@import "~src/style/_base.scss";

.dashboard {
    .header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 1rem;

        .title {
            margin-bottom: 0;
            font-size: 1.125rem;
            @include title();

            @include tablet {
                font-size: 1.875rem;
            }
        }

        .icon {
            font-size: 1.25rem;
            line-height: 1.47;
        }
    }

    .banner {
        text-align: center;
        
        img {
            width: 100%;
            max-height: 100px;
        
            @include tablet {
                max-width: 513px;
                max-height: 150px;
            }   
        }
    }

    .content {
        padding: $size-6;

        h2 {
            @include title();
            font-size: 1.125rem;
            line-height: 1;
            margin-bottom: 0.5rem;

            @include tablet {
                font-size: 1.875rem;
                margin-bottom: 1.25rem;
            }
        }

        span {
            display: block;
            font-size: 0.75rem;
            margin-bottom: 0.5rem;

            @include tablet {
                font-size: 1.125rem;
                margin-bottom: 1.25rem;
            }
        }

        .progress {
            height: 4px;
        }
    }


    .menu {
        .menu-label {
            border-top: 1px solid $grey-lighter;
            padding-top: 0.5rem;
            line-height: 1;

            span {
                padding-left: $size-6;
                color: $black-smoke;
                font-size: 0.875rem;
            }
        }
    } 
}
