<div class="dashboard">
    <div class="header">
        <h2 class="title">MobHelp</h2>
        <a [routerLink]="[ '/profile']" class="icon">
            <app-icon [iconsrc]="icons.profile"></app-icon>
        </a>
    </div>
    <div class="content">
        <h2>Welcome! 👋 Let's get started!</h2>
        <span>{{progress}}% Complete</span>
        <progress class="progress is-primary" [value]="progress" max="100">{{progress}}%</progress>
    </div>
    <aside class="menu">
        <ng-container *ngFor="let section of data">
            <p class="menu-label">
                <span>{{section.title}}</span>
            </p>
            <ul class="menu-list">
                <li *ngFor="let page of section.pages">
                    <a class="menu-link" (click)="goToPage(page)">
                        <span class="icon"> <app-icon [iconsrc]="page.icon"></app-icon></span>
                        <span class="text">{{page.label}}</span>
                        <span *ngIf="isPageDone(page.id)" class="icon check"><app-icon iconsrc="check"></app-icon></span>
                    </a>
                </li>
            </ul>
        </ng-container>
    </aside>
</div>