@import "~src/style/_base.scss";

.dashboard .header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.dashboard .header .title {
    flex-basis: 80%;
    padding: 1rem;
    margin-bottom: 0;
    @include title();
}
.dashboard .header .icon {
    font-size: 20px;
    line-height: 1.47;
    flex-basis: 20%;
    padding: 1rem;
}
:host::ng-deep .dashboard .header .icon .ng-fa-icon svg > path {
    fill: $primary;
}
.dashboard .banner img {
    width: 100%;
    max-height: 100px;
}
.dashboard .content {
    padding: $size-6;
}
.dashboard .content h2 {
    @include title();
    margin-top: $size-6;
}
.dashboard .content span {
    font-size: 12px;
    display: block;
}
:host::ng-deep .dashboard .content h2 > .ng-fa-icon svg > path {
    fill: $yellow;
}
.dashboard .content .progress {
    height: 4px;
}
.dashboard .menu .menu-label {
    border-top: 1px solid $grey-lighter;
    padding-top: $size-7;
}
.dashboard .menu .menu-label span {
    padding-left: $size-6;
    color: $black-smoke;
    font-size: 14px;
}
.dashboard .menu .menu-list {
    padding: 0 $size-6;
}
.dashboard .menu .menu-list li {
    padding: $size-6 0;
}
.dashboard .menu .menu-list .menu-link {
    display: flex;
    flex: 1;
    font-size: 14px;
    color: $black;
}
.dashboard .menu .menu-list .menu-link .icon {
    font-size: $size-6;
    color: $primary;
    margin-right: $size-6;
    flex-basis: 10%;
}
.dashboard .menu .menu-list .menu-link .text {
    flex-basis: 80%;
}
.dashboard .menu .menu-list .menu-link .check {
    flex-basis: 10%;
    font-size: $size-6;
}
:host::ng-deep .dashboard .menu .menu-list .menu-link .check .ng-fa-icon svg > path {
    fill: $green;
}