<div class="change-password-component">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="field">
            <input [(ngModel)]="password" type="password" name="password" title="password" placeholder="Password" required autofocus #pass="ngModel">
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="help is-danger">Password is invalid</div>
        </div>

        <div class="field">
            <input [(ngModel)]="rePassword" type="password" name="re-password" title="retype password" placeholder="Retype Password" required #repass="ngModel">
            <div *ngIf="pass.value != repass.value && (repass.dirty || repass.touched)" class="help is-danger">The Passwords are not the same</div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Change Password</button>
    </form>
</div>